.profilecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 60px);
}

.profile {
    margin: auto;
    width: 60%;
    height: auto;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px 0;
}

.topcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    gap: 8px;

    h2 {
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        font-weight: 300;
        padding: 0 8px;
        text-align: center;
    }
}

.topcontainerimg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.middlecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.fullname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    gap: 2px;

    label {
        display: flex;
        align-items: center;
        margin: 0 30px;

        span {
            font-size: 16px;
            padding: 0 4px;
        }
    }

    .profilevalue {
        border: none;
        outline: none;
        margin: 0 30px;
        padding: 7px 10px;
        border-radius: 8px;
        background-color: transparent;
    }

    .icon {
        width: 16px;
        height: 16px;
    }

}

.bottomcontainer {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h2 {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding-top: 10px;
        text-align: start;
        margin: 0 30px;

    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;

        span {
            font-size: 14px;
        }
    }
}

@media screen and (max-width : 1000px) {
    .profile {
        width: 70%;
    }
}

@media screen and (max-width : 500px) {
    .fullname {
        width: 90%;
    }
}

@media screen and (max-width : 600px) {
    .profile {
        width: 80%;
    }

    .topcontainerimg {

        label {
            img {
                width: 5rem;
                height: 5rem,
            }
        }
    }
}

@media screen and (max-width : 400px) {
    .profile {
        width: 90%;
    }
}